.about-page {
    padding: 20px;
  }
  
  .about-page h1 {
    margin-bottom: 20px;
  }
  
  .about-page p {
    line-height: 1.6;
  }


  .artist-page {
    padding: 20px;
  }
  
  .artist-page h1 {
    margin-bottom: 20px;
  }
  
  .artist-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .artist-details img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .artist-details h2 {
    margin-bottom: 10px;
  }
  
  .artist-details p {
    margin-bottom: 10px;
  }
  .artist-page {
    padding: 20px;
  }
  
  .artist-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  