.artist-page {
  text-align: center;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  margin-left: 10%;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
}

.artist-page input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #303032;
  background-color: #1f1f23;
  color: #fff;
}

.title {
  justify-content: center;
}
