.artist-card {
  display: flex;
  flex-direction: column;
  background-color: #1f1f23;
  border: 1px solid #303032;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: calc(50% - 40px); /* Two columns layout */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.artist-card:hover {
  transform: translateY(-5px);
}

.artist-card img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.artist-info {
  display: flex;
  flex-direction: column;
}

.artist-info h2 {
  font-size: 1.5em;
  margin: 0;
}

.artist-info p {
  font-size: 1em;
  color: #d1d1d1;
}

.members {
  margin-top: 10px;
}

.members h3 {
  margin: 0;
}

.members ul {
  list-style-type: none;
  padding: 0;
}

.members li {
  font-size: 1em;
  color: #d1d1d1;
}

.social-media-links {
  margin-top: 10px;
}

.social-media-links a {
  text-decoration: none;
  color: #9147ff;
}

.social-media-links a:hover {
  color: #c47aff;
}
