.native-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #000; /* Dark background as in the screenshot */
  color: white; /* White text color for better contrast */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px; /* Smaller font size */
}

.chat-header {
  background: #6200ea;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}

.profile-pic {
  width: 40px; /* Increased size for clarity */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  word-break: break-word; /* Ensure long words break correctly */
}

.author {
  font-weight: bold;
  color: #ccc; /* Slightly different color for author name */
  margin-bottom: 2px;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.text {
  color: white; /* White text color */
  margin-right: 10px;
  margin-bottom: 5px; /* Add some space between text and timestamp */
}

.timestamp {
  color: #999;
  font-size: 12px;
  align-self: flex-end; /* Align timestamp to the right */
  white-space: nowrap; /* Prevent line break */
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background: #333; /* Dark background for input area */
}

.chat-input-field {
  flex: 1;
  border: 1px solid #555;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  outline: none;
  background: #222; /* Dark background for input field */
  color: white; /* White text color for input field */
}

.chat-input-button, .auth {
  background: #6200ea;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.chat-input-button:hover, .auth:hover {
  background: #3700b3;
}

.tooltip-content {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}
